<!DOCTYPE html>
<html>
<head>
  <title>CatOutfit</title>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
<%= csrf_meta_tags %>
</head>
<body>

<% unless current_user.nil? %>
  <%= current_user.user_name %><br>
  <%= button_to "Click to logout", session_url, method: :delete %>
<% else %>
  <%= button_to "Click to sign in", new_session_url, method: :get %>
<% end %>
<h3><%= render partial: "layouts/errors" %></h3>
<%= yield %>

</body>
</html>
